.btn {
  font-family: var(--Dosis);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-radius: 10px;
  background-color: var(--Btn-number);
  font-size: 2.5rem;
  margin: 4px;
  flex: 1 1;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  &:active {
    box-shadow: rgba(52, 53, 54, 0.625) 3px 3px 6px 0px inset,
      rgba(74, 71, 71, 0.442) -3px -3px 6px 1px inset;
  }
  &:hover {
    opacity: 0.85;
  }
}
.operator {
  background-color: var(--Btn-operator);
}
.clear {
  background-color: crimson;
  width: 100px;
  height: fit-content;
  font-size: 1.4rem;
  align-self: flex-end;
}
